# Environment
.env
.env.*
!.env.example

# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build folders
bin/
build/
dist/
tmp/

# Go workspace
go.work
go.work.sum

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/
.idea/
*.swp
*.swo

# Database / local files
*.db
*.sqlite
*.sqlite3

# Docker local overrides
docker-compose.override.yml